<div class="card">
      <div class="card-body">
            <h1>About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam reiciendis vero laborum. Ea magnam cumque repellendus nam tempora quae quisquam molestias? Sed dicta mollitia deleniti labore ipsam blanditiis magnam, voluptas voluptate a itaque facilis tenetur assumenda ab sit nihil natus.</p>
      </div>
</div>
