<div class="jumbotron mt-4">
      <h1 class="display-4">Games App Nodejs and MongoDB</h1>
      <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      <hr class="mt-4">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis in modi, quasi, ut, facilis voluptatem quis maxime esse cumque molestias reprehenderit laudantium. Expedita temporibus obcaecati maiores eius saepe, quas autem?</p>
      <a href="https://google.com" class="btn btn-primary btn-lg" target="_blank">See more</a>
</div>